services:
  postgres:
    image: postgres:15
    container_name: user_service_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: userservicedb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - user_service_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: user_service-pgadmin-dev
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: user123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - user_service_network

  redis:
    image: redis:7.4-alpine
    container_name: user_service_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --requirepass password
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - user_service_network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: user_service_rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672" # management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - user_service_network

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data:

networks:
  user_service_network:
    driver: bridge